@font-face {
    font-family: 'TmonMonsori';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* layout */
#contents {}
#section1 {height: 100vh; position: relative;}
#section2 {}
#section3 {
    /* background: url(../img/longDot.svg) no-repeat left -20% bottom 25%;
    background-size: 800px; position: relative; */ position: relative;
}
#section4 {width: 100%; position: relative;}
#section5 {}
#section6 {}
#section7 {}


/* scroll */
.scroll {
    position: fixed;
    left: 10px; bottom: 10px;
    width: 40px; height: 40px;
    background:rgba(0,0,0,0.3);
    text-align: center;
    line-height: 40px;
    color: #fff;
    border-radius: 50%;
    font-size: 12px;
    z-index:1000;
}

/* header */
#header {
    position: fixed;
    left: 0; top: -100%;
    z-index: 2000;
    width: 100%; height: 80px;
    border-bottom: 2px solid #c66559;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    opacity: 0;
}
#header h1 {
    font-family: 'Staatliches', cursive;
    font-size: 40px;
    padding: 17px;
    color: #b43f4d;
    letter-spacing: 2px;
}
#header a {
    font-size: 24px;
    font-family: 'Staatliches', cursive;
    padding: 25px;
    color: #b43f4d;
    display: inline-block;
}

/* container */
.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

/* sec1 */
.sec1 {
    height: 100vh;
/*    background: url(../img/bannerDot.svg) no-repeat right bottom / 600px;*/
}
.scrollbtn {
    position: absolute;
    left: 5vw; bottom: -15vw;
    border: 1px solid #b33f4c;
    background-color: #ffd87e;
    color: #b33f4c;
    padding: 10px 50px;
    font-size: 30px;
    box-shadow: 10px 10px 0 0 #b33f4c;
    font-family: 'Staatliches', cursive;
    transition: box-shadow .4s ease;
    opacity: 0;
}
.svg-bg {
    width: 600px;
    position: absolute;
    right: 10vw; bottom: 0vw;
}
.svg-bg svg {
    width: 100%;
}
.svg-bg svg path {
    opacity: 0;
}

.scrollbtn:hover {
    box-shadow: 0 0 0 0 #b33f4c;
}

.sec1 .text-wrap .txt1 {
    left: 42%; top: 55%;
    transform: translate(-50%, -50%) rotate(-10deg) skewX(-20deg);
    z-index: 800; opacity: 0;
}
.sec1 .text-wrap .txt2 {
    left: 60%; top: 35%;
    transform: translate(-50%, -50%) rotate(10deg) skewX(-20deg);
    z-index: 900; opacity: 0;
}
.sec1 .text-wrap .txt1, .text-wrap .txt2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    position: absolute;
    color: #fff;
    font-size: 8vw;
    white-space: nowrap;
    text-shadow: 
        1px 1px 0 #FFD063, 
        2px 2px 0 #FFD063, 
        3px 4px 0 #FFD063, 
        4px 5px 0 #FFD063,
        5px 7px 0 #FFD063,
        6px 8px 0 #FFD063,
        7px 10px 0 #FFD063,
        8px 11px 0 #FFD063,
        9px 13px 0 #FFD063,
        10px 14px 0 #FFD063,
        11px 16px 0 #FFD063,
        12px 17px 0 #FFD063,
        13px 19px 0 #FFD063,
        14px 20px 0 #FFD063,
        15px 22px 0 #FFD063,
        16px 23px 0 #FFD063,
        17px 25px 0 #FFD063,
        18px 26px 0 #FFD063,
        19px 28px 0 #FFD063,
        20px 29px 0 #FFD063,
        21px 30px 0 #E8B466,
        23px 31px 0 #E8B466,
        24px 32px 0 #E8B466,
        26px 33px 0 #E8B466,
        27px 34px 0 #E8B466,
        29px 35px 0 #E8B466,
        30px 36px 0 #E8B466,
        32px 37px 0 #E8B466,
        33px 38px 0 #E8B466,
        35px 39px 0 #E8B466,
        36px 40px 0 #E8B466,
        38px 41px 0 #E8B466,
        39px 42px 0 #E8B466,
        41px 43px 0 #E8B466,
        42px 44px 0 #E8B466,
        44px 45px 0 #E8B466,
        45px 46px 0 #E8B466,
        47px 47px 0 #E8B466,
        48px 49px 0 #E87566,
        49px 51px 0 #E87566,
        50px 53px 0 #E87566,
        51px 55px 0 #E87566,
        52px 57px 0 #E87566,
        53px 59px 0 #E87566,
        54px 61px 0 #E87566,
        55px 63px 0 #E87566,
        56px 65px 0 #E87566,
        57px 67px 0 #E87566,
        58px 69px 0 #E87566,
        59px 71px 0 #E87566,
        60px 73px 0 #E87566,
        61px 75px 0 #E87566,
        62px 77px 0 #E87566,
        63px 79px 0 #E87566,
        65px 80px 0 #b43f4d,
        68px 81px 0 #b43f4d,
        70px 82px 0 #b43f4d,
        72px 83px 0 #b43f4d,
        74px 84px 0 #b43f4d,
        76px 85px 0 #b43f4d,
        78px 86px 0 #b43f4d,
        80px 87px 0 #b43f4d,
        82px 88px 0 #b43f4d,
        84px 89px 0 #b43f4d,
        86px 90px 0 #b43f4d,
        88px 91px 0 #b43f4d,
        90px 92px 0 #b43f4d;
}

/* sec2 */
.arr1 {position: absolute; right: 10%; bottom: 10%; width: 500px;}
.arr2 {position: absolute; left: 10%; bottom: 10%; width: 300px;}




.sec2 {
    padding: 50vh 0;
}
.sec2 .text-wrap {
    text-align: center;
    position: relative;
    z-index: 100;
    margin-bottom: 30vh;
}
.sec2 .text-wrap .a {
    font-size: 16px;
    color: #b33f4c;
    padding-bottom: 6vh;
    font-family: 'NanumSquare', sans-serif !important;
}
.sec2 .text-wrap .a span {
    display: inline-block;
    opacity: 0;
    min-width: 5px;
}
.sec2 .text-wrap .b {
    font-family: 'TmonMonsori';
    font-weight: bold;
    font-size: 3.8vw;
}
.sec2 .text-wrap .b > div {
    padding-bottom: .5vw;
}
.sec2 .text-wrap .b > div span {
    display: inline-block;
    color: #b33f4c;
    opacity: 0;
    min-width: 10px;
    transform: translatey(30px) skew(30deg);
}
.sec2 .text-wrap .d span { 
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px #b33f4c;
}
.sec2 .text-wrap .f span { 
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px #b33f4c;
}
	
.jelly-container {
	width: 100%; height: 180vh;
    overflow: hidden;
    display:initial;
	background: linear-gradient(to bottom, rgba(250, 201, 96, 0.63), transparent);
}
.jelly-container > div {
	width: 75px; height: 75px;
	background: rgba(250, 201, 96, 0.63);
	border-radius: 50%;
	position: absolute; bottom: 6px;
}
.jelly-container > div:after {
	border-top: 1px solid rgba(255,255,255,0.63);
	left: 50%; top: 50%;
	transform: translate(-50%, -50%) rotate(-45deg); 
	width: 85%; height: 85%;
    border-radius: 50%;
    position: absolute;
    content:'';
}
.bubble-1  {left: 00%; animation: bubble-move 5s -100ms ease-in infinite;}
.bubble-2  {left: 12%; animation: bubble-move 5s -1320ms ease-in infinite;}
.bubble-3  {left: 36%; animation: bubble-move 5s -2320ms ease-in infinite;}
.bubble-4  {left: 40%; animation: bubble-move 5s -800ms ease-in infinite;}
.bubble-5  {left: 66%; animation: bubble-move 5s -320ms ease-in infinite;}
.bubble-6  {left: 70%; animation: bubble-move 5s -1320ms ease-in infinite;}
.bubble-7  {left: 83%; animation: bubble-move 5s -5320ms ease-in infinite;}
.bubble-8  {left: 95%; animation: bubble-move 5s -6420ms ease-in infinite;}
.bubble-9  {left: 25%; animation: bubble-move 5s -4320ms ease-in infinite;}
.bubble-10 {left: 56%; animation: bubble-move 5s -2320ms ease-in infinite;}


@keyframes bubble-move {
	0% {width: 1px; height: 1px; transform: translatey(500%)}
	100% {width: 75px; height: 75px; transform: translatey(-1000%)}
}

.sec3 {
    padding:0 0 50vh 0;
    margin-bottom: 10vh;
}

.sec3 .about {
    text-align: center;
    /* padding-top: 10vh; */
}
.sec3 .about h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    color: #fff;
    font-size: 4vw;
    white-space: nowrap;
    text-transform: uppercase;
    text-shadow: 1px 1px 0#FABBCF, 
    2px 2px 0#FABBCF,
    3px 4px 0#FABBCF, 
    4px 5px 0#FABBCF, 
    5px 7px 0#FABBCF, 
    6px 8px 0#FABBCF, 
    7px 10px 0#e9817e,
    8px 11px 0#e9817e, 
    9px 13px 0#e9817e, 
    10px 14px 0#e9817e, 
    11px 16px 0 #e9817e,
    12px 17px 0 #e9817e, 
    13px 19px 0 #4A65CF, 
    14px 20px 0 #4A65CF, 
    15px 22px 0 #4A65CF, 
    16px 23px 0 #4A65CF, 
    17px 25px 0 #4A65CF, 
    18px 26px 0 #4A65CF, 
    19px 28px 0#3F52A0, 
    20px 29px 0#3F52A0, 
    21px 30px 0#3F52A0, 
    23px 31px 0#3F52A0, 
    24px 32px 0#3F52A0, 
    26px 33px 0#3F52A0;
    padding-bottom: 150px;
}
.sec3 .about h1 {
    display: block;
    font-weight: 900;
    left:0; bottom: -15vh;
    transform: rotate(0deg) skewX(-10deg) translateY(0px);
    opacity: 0;
}

.sec3 .about .lay {
    display: flex;
    justify-content: space-between;
}
.sec3 .about .lay h2 {
    font-size: 45px;
    font-family: 'Staatliches', cursive; 
    text-transform: uppercase;
    position: absolute;
    left: 0;
    opacity: 0;
    /* top: auto; */
    top: 26vh;
    /*width:60%*/
    width: 48%;
    text-align: right;
    color: #3F52A0;
    font-weight: bold;
}
.sec3 .about .lay .left {
    flex: 0 0 47%;
    font-family: 'Chosunilbo_myungjo';
    color: #3F52A0;
    font-size: 18px;
    line-height: 1.8;
    text-align: justify;
    /* margin-top: 6vw; */
    margin-top: 5vw;
    opacity: 0;
    transform: translateX(-10%);
}
.sec3 .about .lay .right {
    flex: 0 0 47%;
    position: relative;
    z-index: 1;
    width: 500px;
    height: 700px;
    opacity: 0;
    transform: translateX(10%);
} 
.sec3 .about .lay .right .img {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0%;
    /* left: 0; */
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 6px solid #3F52A0;
    box-shadow: 10px 10px 0 0#2f4082;
    opacity: 0;
  }
.sec3 .about .lay .right .img > img {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition:.6s cubic-bezier(0.29, 0.57, 0.12, 0.99);
    transform: .6s cubic-bezier(0.29, 0.57, 0.12, 0.99);
    opacity: 0;
    transform: scale(.9) translateZ(0);
}
.sec3 .about .lay .right .img > img.active {
    transform: scale(1) translateZ(0);
    opacity: 1;
}
.sec3 .about .lay .right .clickBtn {
    position: absolute;
    z-index: 10;
    bottom: calc(2% * 1);
    left: calc(78% * 1);  /* 78% */
    transform: rotate(-20deg) scale(1);
    transition: .2s cubic-bezier(0.29, 0.57, 0.12, 0.99);
    width: 120px;
    height: 120px;
    background: #3F52A0;
    box-shadow: 0 10px 20px -6px #8089af;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
    font-size: 25px;
    font-family: 'Staatliches', cursive;
    /* opacity: 80%; */
}
.sec3 .about .lay .right .clickBtn:before {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 10px rgba(255, 255, 255, .2);
    border-radius: 50%;
    transform: scale(1.2);
    transition:.4s cubic-bezier(0.29, 0.57, 0.12, 0.99);
}
.sec3 .about .lay .right .clickBtn:hover:before {
    transform: scale(1);
}
.sec3 .about .lay .right .clickBtn:active {
    transform: scale(1) rotate(-5deg);
}

#section3 .scrollbtn2 {
    position: absolute;
    left: 33%; bottom: -10vh;
    margin-bottom: 48vh;
    border: 1px solid #2f4082;
    background-color: #F9D3E0;
    color: #2f4082;
    padding: 10px 50px;
    font-size: 30px;
    box-shadow: 10px 10px 0 0 #2f4082;
    font-family: 'Staatliches', cursive;
    transition: box-shadow .4s ease;
    opacity: 0;
}
#section3 .scrollbtn2:hover {
    box-shadow: 0 0 0 0 #2f4082;
}
.svg-bg2 {
    width: 500px;
    position: absolute;
    left:0vw; bottom: 10vw;
    
}
.svg-bg2 svg {
    width: 100%; height: 70%;
    
}
.svg-bg2 svg path {
    opacity: 0;
    fill: #3F52A0;
}

/* sec4 */
.sec4 {
    
}
.title {
    position: relative;
    z-index: 100;
    margin-bottom: 500px;
    padding: 50vh 0 40vh;
    text-align: center;
}
.title span {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    color: #fff;
    display: inline-block;
    font-size: 18vw;
    line-height: 16vw;
    white-space: nowrap;
    text-transform: uppercase;
    text-shadow: 1px 1px 0#fabbcf, 2px 2px 0#FABBCF, 3px 4px 0#FABBCF, 4px 5px 0#FABBCF, 5px 7px 0#FABBCF, 6px 8px 0#FABBCF, 7px 10px 0#FABBCF, 8px 11px 0#FABBCF, 9px 13px 0#FABBCF, 10px 14px 0#FABBCF, 11px 16px 0#FABBCF, 12px 17px 0#FABBCF, 13px 19px 0#FABBCF, 14px 20px 0#FABBCF, 15px 22px 0#e3adaa, 16px 23px 0#e3adaa, 17px 25px 0#e3adaa, 18px 26px 0#e3adaa, 19px 28px 0#e3adaa, 20px 29px 0#e3adaa, 21px 30px 0 #E3ADAA, 23px 31px 0 #E3ADAA, 24px 32px 0 #E3ADAA, 26px 33px 0 #E3ADAA, 27px 34px 0 #E3ADAA, 29px 35px 0 #E3ADAA, 30px 36px 0 #E3ADAA, 32px 37px 0 #E3ADAA, 33px 38px 0 #E3ADAA, 35px 39px 0 #E3ADAA, 36px 40px 0 #51a0ad, 38px 41px 0 #51a0ad, 39px 42px 0 #51a0ad, 41px 43px 0 #51a0ad, 42px 44px 0 #51a0ad, 44px 45px 0 #51a0ad, 45px 46px 0 #51a0ad, 47px 47px 0 #51a0ad, 48px 49px 0 #51A0AD, 49px 51px 0 #51A0AD, 50px 53px 0 #51A0AD, 51px 55px 0 #51A0AD, 52px 57px 0 #51A0AD, 53px 59px 0 #51A0AD, 54px 61px 0 #51A0AD, 55px 63px 0 #04839d, 56px 65px 0 #04839d, 57px 67px 0 #04839d, 58px 69px 0 #04839d, 59px 71px 0 #04839d, 60px 73px 0 #04839d, 61px 75px 0 #04839d, 62px 77px 0 #04839d, 63px 79px 0 #04839d, 65px 80px 0 #04839D, 68px 81px 0 #04839D, 70px 82px 0 #04839D, 72px 83px 0 #04839D, 74px 84px 0 #04839D, 76px 85px 0 #04839D;
}

.jelly-container2 {
	width: 100%; height: 180vh;
    overflow: hidden;
    display:initial;
	background: linear-gradient(to bottom, rgba(250, 203, 192, 0.63), transparent);
}
.jelly-container2 > div {
	width: 75px; height: 75px;
	background: rgba(250, 203, 192, 0.63);
	border-radius: 50%;
    position: absolute; bottom: 6px;
    z-index: 2000;
}
.jelly-container2 > div:after {
	border-top: 1px solid rgba(255,255,255,0.63);
	left: 50%; top: 50%;
	transform: translate(-50%, -50%) rotate(-45deg); 
	width: 85%; height: 85%;
    border-radius: 50%;
    position: absolute;
    content:'';
}
.bubble2-1  {left: 00%; animation: bubble-move2 5s -100ms ease-in infinite;}
.bubble2-2  {left: 12%; animation: bubble-move2 5s -1320ms ease-in infinite;}
.bubble2-3  {left: 36%; animation: bubble-move2 5s -2320ms ease-in infinite;}
.bubble2-4  {left: 40%; animation: bubble-move2 5s -800ms ease-in infinite;}
.bubble2-5  {left: 66%; animation: bubble-move2 5s -320ms ease-in infinite;}
.bubble2-6  {left: 70%; animation: bubble-move2 5s -1320ms ease-in infinite;}
.bubble2-7  {left: 83%; animation: bubble-move2 5s -5320ms ease-in infinite;}
.bubble2-8  {left: 99%; animation: bubble-move2 5s -6420ms ease-in infinite;}
.bubble2-9  {left: 25%; animation: bubble-move2 5s -4320ms ease-in infinite;}
.bubble2-10 {left: 56%; animation: bubble-move2 5s -2320ms ease-in infinite;}


@keyframes bubble-move2 {
	0% {width: 1px; height: 1px; transform: translatey(500%)}
	100% {width: 75px; height: 75px; transform: translatey(-1000%)}
}

.sec4 .site-wrap {
    height: 1000px;
    position: relative;
    z-index: 200;
}
.sec4 .site-wrap .site-title {
    overflow: hidden;
    margin-bottom: 40px;
}
.sec4 .site-wrap .site-title span {
    display: block;
    font-size: 6vw;
    line-height: 6.5vw;
    color:#04839D;
    font-family: 'TmonMonsori';
    text-transform: uppercase;
    white-space: nowrap;
}
.sec4 .site-wrap .site-title span strong{
    display: inline-block;
    padding-right: 40px;
    letter-spacing: -2px;
}
.sec4 .site-wrap .site-title span em {
    padding-right: 40px;
    letter-spacing: -2px;
    display: inline-block;
    font-style: normal;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #04839D;
    transform: translateX(-100px);
}

.sec4 .site-wrap .site {
    width: 100%;
    border: 3px solid #04839D;
    background: #FBD3CA;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    box-sizing: border-box;
}
.sec4 .site-wrap .site .left {
    flex: 0 0 45%;
    position: relative;
}

.sec4 .site-wrap .site .left h3 {
    color: #04839d;
    font-family: 'TmonMonsori';
    font-weight: bold;
    font-size: 3.5vw;
    padding-bottom: 20px;
}
.sec4 .site-wrap .site .left p {
    font-family: 'Chosunilbo_myungjo';
    font-size: 20px;
    color: #04839d;
    line-height: 1.4;
    padding-right: 5vw;
    padding: 56px 0;
    text-align: justify;
}
.sec4 .site-wrap .site .left .btn {
    position: absolute;
    left: 0px;
    
}
.sec4 .site-wrap .site .left .btn a {
    display: inline-block;
    margin-right: 55px;
    border: 1px solid #04839d;
    background-color: #FBD3CA;
    color: #04839d;
    padding: 10px 50px;
    font-size: 30px;
    box-shadow: 10px 10px 0 0 #04839d;
    font-family: 'Staatliches', cursive;
    transition: box-shadow .4s ease;
}
.sec4 .site-wrap .site .left .btn a:last-child {
    margin-left: 36px;
    margin-right:0;
}
.sec4 .site-wrap .site .left .btn a:hover {
    box-shadow: none;
}


.sec4 .site-wrap .site .right {
    flex: 0 0 50%;
}
#tab-menu {
    background:#04839d;
    font-family: 'Staatliches', cursive;
    width: 36%;
}
#tab-menu > ul {display: flex; font-size: 20px;}
#tab-menu > ul > li {padding:15px 40px;}
#tab-menu > ul > li > a {padding:15px 20px; color:#fff; text-align:center}
#tab-menu > ul > li.active > a {}
/* #tab-menu > ul > li > div {position: absolute; left:0; top:43px; background:#fff; padding: 20px; border-radius:0 0 4px 4px;} */